# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


## 파일 무시
DBconnectTest

## 다음과 같은 확장자는 전체 무시
*.java
*.exe
*.zip

## 폴더 무시